<div class="footer">
    <h2>* Designed and Developed by "Mamidi Rishi"</h2>
 
    
    <div class="image">
     
        
         <img src="./assets/logo-facebookpng-32240.png" width="50px" (click)="getfb()">
         <img src="./assets/instagram-logo-png-2428.png" width="50px" (click)="getig()">
         <img src="./assets/twitter-logo-png-5860.png" width="50px" (click)="gettw()">
         <img src="./assets/iconfinder_github_291716.png" width="50px" (click)="getgit()" id="git">
     </div>
 
 
 
 </div>




