<div>
        
    <a routerLink="/nav-bar" style="text-decoration: none; padding: 20px; "> <h1 style="margin-left: 20px;">Portfo<span style="color: red">lio</span></h1></a>
     </div>

<div class="touch-container">

    


    <div class="get-in-touch">
    
                 <h1>Get in Touch</h1>
                 <p style="color: #000;">We are Available</p>
    </div>
    
    
    <div class="get-columns">
    
           <div class="get-left-columns">
    
            <img src="./assets/b3.png" width="80%">
           
             </div>
    
    
    
    <div class="get-right-columns">
    
            <h2>Connect with me</h2>
            
        

            <form #myForm="ngForm" method="post" action="success.html"> 
            
                
                    <div class="form-group">
                        
                        <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched" placeholder="Enter Your Name" 
                         name="username" #name="ngModel" [(ngModel)]="userModel.name" required>
                         <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
                    </div>
               
                
             <div class="form-group">
                      
                    
                    <input type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" #email= 'ngModel' placeholder="Email" name="email" 
                    pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    [(ngModel)]= 'userModel.email' required>

                    <div *ngIf="email.errors && (email.valid || email.touched)">
                        <small class="text-danger" *ngIf="email.errors.required">Email is Required</small>
                        <small class="text-danger" *ngIf="email.errors.pattern">Email Invalid</small>
                    </div>
            </div>
            
                <div class="form-group">
                 <textarea class="form-control" [class.is-invalid]="message.invalid && message.touched" #message="ngModel" 
                 [(ngModel)]="userModel.message" name="message" cols="40" rows="5" placeholder="Message" required></textarea>
                 <small class="text-danger" [class.d-none]="message.valid || message.untouched">Enter some text</small><br>
            
                <input type="submit" id="submit" value="Submit">
            
                </div>
        </form>
            
           
        </div>
    
    </div>
     
</div>