<div>
        
    <a routerLink="/nav-bar" style="text-decoration: none; padding: 20px; "> <h1 style="margin-left: 20px;">Portfo<span style="color: red">lio</span></h1></a>
     </div>

<div class="abt">
    <h1>About me</h1>
    <p id="who">Who I am ?</p>
</div>


<div class="row">

<div class="text-left">

<img src="./assets/about.jpg">     
</div>

<div class="text-right">
                                        

<h3>Hello, I'm <span>Rishi</span> & I'm a <span>Front end web developer</span></h3>

<p>Passionate front-end web developer with experience using Angular JS to build all aspects of the user experience and user interface for client-facing landing pages. Specializes in creating responsive single page applications.</p>

<button class="btn" (click)="getCV()">Download CV</button>
</div>


</div>