<div>
        
     <a routerLink="/nav-bar" style="text-decoration: none; padding: 20px; "> <h1 style="margin-left: 20px;">Portfo<span style="color: red">lio</span></h1></a>
      </div>

<div class="holder">
<div class="skills">
    
    <h1>My Skills</h1>
         <p id="whos">Who I am ?</p>

         

<div class="columns">
     
       <div class="text-left-skill">
           
        <p>Passionate front-end web developer with experience using Angular JS to build all aspects of the user experience and user interface for client-facing landing pages. Specializes in creating responsive single page applications.<p>
    
        <button class="skill-btn" (click)="getreadmore()">Read more</button>

       </div>

<div class="text-right-skill">

          <ul>
               <li>HTML</li>
               <progress value="80" max="100"></progress>
               <span>80%</span>
               
               <li>CSS</li>
               <progress value="70" max="100"></progress>
               <span>70%</span>
               
               <li>JavaScript</li>
               <progress value="60" max="100"></progress>
               <span>60%</span>
               
               <li>Bootstrap</li>
               <progress value="60" max="100"></progress>
               <span>80%</span>
               
               <li>Angular</li>
               <progress value="65" max="100"></progress>
               <span>80%</span>
          
            </ul>
</div>
</div>
</div>

