<header>
    <nav>
        <div>
        
       <a routerLink="/nav-bar" style="text-decoration: none;"> <h1>Portfo<span>lio</span></h1></a>
        </div>

        <ul>
        
        <div>

           <li> <a routerLink="/nav-bar">Home</a></li>
          <li>  <a routerLink="/aboutme">About</a></li>
          <li>  <a routerLink="/myskills">Skills</a></li>
          <li>  <a routerLink="/services">Services</a></li>
         <li>   <a routerLink="/getintouch">Contact</a></li>
        
        
        
        </div>
    
        </ul>
</nav>



<img src="./assets/menu.png" class="menu-icon" onclick="menutoggle()">
 
 
    <div class="content">
      
    <p>Hello, I am</p>

    <h1>Mamidi Rishi</h1>
    <p>And I'm a <span>Front End Developer</span></p>
    <button class="btn" (click)="getCV()">Hire me</button>
</div>

<i>Home</i>

</header>