<div>
        
  <a routerLink="/nav-bar" style="text-decoration: none; padding: 20px; "> <h1 style="margin-left: 20px;">Portfo<span style="color: red">lio</span></h1></a>
   </div>

   <div class="services">

    <h1>Services</h1>
    <p id="who">What we provide</p>

</div>


<div class="services-columns">
         <div class="services-box-1">
          <div class="services-col-1">
            <img src="./assets/b2.png">
           <h2>Web Design</h2>
           <p>A web design is a hand-picked showcase of projects and case studies that a designer chooses to present his best and most promising work examples to potential clients or employers.</p>

           </div>
         </div>
           
         <div class="services-box-2">
           <div class="services-col-2">
              <img src="./assets/b2.png">
              <h2>Web Development</h2>
              <p>Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great, work fast and perform well with a seamless user experience. Web developers, or 'devs', do this by using a variety of coding languages.</p>
 
              </div>
         </div>
              
              
              
         <div class="services-box-3">
              <div class="services-col-3">
                  <img src="./assets/b2.png">
                  <h2>Apps Development</h2>
                  <p>Mobile application development is the process of creating apps that run on any mobile platform: Android and iOS. With everything you need right at your fingertips, you can track inventory or make instant updates from your phone.</p>
     
                  </div>
         </div>

        
      </div>